# Project exclude paths
/.gradle/
/Topics/Characters/Comparing numbers and characters/out/
/Topics/Characters/Comparing numbers and characters/out/production/classes/
/Topics/Characters/Previous character/out/
/Topics/Characters/Previous character/out/production/classes/
/Topics/Introduction to MutableList/Initializing a mutable list of characters/out/
/Topics/Introduction to MutableList/Initializing a mutable list of characters/out/production/classes/
/Topics/Introduction to MutableList/Initializing a mutable list of integers/out/
/Topics/Introduction to MutableList/Initializing a mutable list of integers/out/production/classes/
/Topics/While loops/Balance checker/out/
/Topics/While loops/Balance checker/out/production/classes/
/Topics/While loops/Bank interest calculation/out/
/Topics/While loops/Bank interest calculation/out/production/classes/
/Zookeeper (Kotlin)/task/build/
/Zookeeper (Kotlin)/task/out/
/Zookeeper (Kotlin)/task/out/production/classes/